@page "/OrderIndex/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@using HomeCarePharmacy_Project.Client.Static;
@using HomeCarePharmacy_V3.Shared.Domain;

<h3>View</h3>

<FormComponent order="order" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Order? order = new Order();

    protected async override Task OnParametersSetAsync()
    {
        order = await _client.GetFromJsonAsync<Order>($"{Endpoints.OrdersEndpoint}/{id}");
    }
}   