@page "/aboutus"

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeCare Pharmacy SG</title>
    <link rel="stylesheet" href="css/sheet.css">
</head>
<body>


<main>
    <!-- Heading -->
    <h2>About Us</h2>

    <!-- Services Section -->
    <section>
        <!-- Subheading for Services -->
        <h3>Our Services</h3>


        <p>We are dedicated to providing a range of services to meet the healthcare needs of our customers. Here are some of the services we offer:</p>

        <!-- List of Services -->
        <ul>

            <li>
                <strong>Consultation Services:</strong>
                <p>Our experienced healthcare professionals offer personalized consultation services to address your health concerns and provide expert advice.</p>
            </li>


            <li>
                <strong>Medication Dispensing:</strong>
                <p>We provide a convenient and efficient medication dispensing service, ensuring that you have access to the medications you need.</p>
            </li>


            <li>
                <strong>Health Education:</strong>
                <p>Empowering our customers with knowledge, we offer health education programs to promote wellness and enable informed healthcare decisions.</p>
            </li>


            <li>
                <strong>Product Recommendations:</strong>
                <p>Our knowledgeable staff can guide you through our product offerings, recommending healthcare products tailored to your specific needs.</p>
            </li>


            <li>
                <strong>Customer Support:</strong>
                <p>Our dedicated customer support team is ready to assist you with any inquiries, ensuring a positive and seamless experience with our services.</p>
            </li>
        </ul>
    </section>
</main>

    <footer>
        &copy; 2023 Online Pharmacy. All rights reserved.
    </footer>
</body>


</html>