@page "/productsIndex/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@using HomeCarePharmacy_Project.Client.Static;
@using HomeCarePharmacy_V3.Shared.Domain;

<h3>View</h3>

<FormComponent product="product" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Product? product = new Product();

    protected async override Task OnParametersSetAsync()
    {
        product = await _client.GetFromJsonAsync<Product>($"{Endpoints.ProductsEndpoint}/{id}");
    }
}   